.container{
    width: auto;
    height: auto;
    border: solid 1px rgb(1, 236, 253);
    background-color: rgb(1, 236, 253);
    justify-content: center;
    align-items: center;
}
.title{
    margin: 0;
    color: rgba(18, 36, 202, 0.267);
}
.title_introduce{
    color: rgba(18, 36, 202, 0.267);
}