.container{
    width: auto;
    height: auto;
    border: solid 1px rgb(1, 236, 253);
    background-color: rgb(1, 236, 253);
    justify-content: space-around;
    align-items: center;
}
.title{
    margin: 1;
    color: rgba(18, 36, 202, 0.267);
}
.title_introduce{
    margin: 4em;
    color: black;
}