.app_backgaround{
    width: 1366px;
    height: 940px;
    justify-content:  center;
    align-items: center;
    background-size: cover;
    // background:rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-weight: bold;
    // color: #6091d3;/*文字色*/
    background: #FFF;
    // border: solid 3px #faa303c2;/*線*/

}
.icon{

    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    box-shadow: 2px 2px 4px gray

    
}
.menu_icon{
    
}
